@font-face {
  font-family: 'gt_alpinalight';
  src: url('./GT-Alpina/GT-Alpina-Standard-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'gt_alpinalight';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: relative;
  background-color: #80d993;
  overflow: hidden;
}

html,
body,
.app,
.root {
  touch-action: none;
}

button {
  position: absolute;
  display: block;
  z-index: 99;
  top: 15px;
  right: 15px;
  width: 60px;
  height: 60px;
  background-color: #00000000;
  font-family: 'gt_alpinalight';

  color: black;
  border: none;
  font-size: 48px;
  font-weight: bold;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

button:focus {
  outline: none !important;
}

.colofon-text {
  position: absolute;
  display: block;
  z-index: 2;
  background-color: #80d993e3;
  right: 0px;
  top: 0px;
  width: 500px;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-padding-bottom: 0px;
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  font-size: 24px;
  letter-spacing: 0.02em;
  line-height: 1.1em;
}

h1 {
  padding-top: 80px;
  margin-top: 0%;
  margin-block-start: 0em;
  font-size: 36px;
}
@media (max-width: 700px) {
  .colofon-text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 22px;
  }
  h1 {
    font-size: 32px;
    padding-top: 60px;
  }
  button {
    /* font-size: 32px; */
  }
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: orangered;
}

ul {
  list-style-type: none;
  padding-left: 0em;
  /* padding-top: 0;
  padding-bottom: 0; */
  margin-top: 0;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0.5em;
}

p {
  margin-top: 0em;
  margin-bottom: 0.5em;
}
.logo-image {
  padding-top: 5px;
  padding-bottom: 15px;
  width: 100px;
}
