body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  display: relative;
  background-color: brown;
  overflow: hidden;
}

.root {
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100vh;
}

.Cursor {
  position: absolute;
  transition: transform 0.1s ease-in;
  transform: translate(-50%, -15%);
  width: 205px;
  height: 420px;
  z-index: 10;
  background: url('./components/svgs/razor.svg') top center no-repeat;
}

.Cursor:active {
  transform: scale(0.9, 0.9) translate(-55%, -25%);
}
